<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL" /><!-- null로 데이터가 전달 되었을 때 빈칸이 아닌 null로 인식할 수 있게 함 -->
	</settings>

</configuration>